<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/main.css" type="text/css" rel="stylesheet">

    <title>MathQuest</title>
</head>
<body>
    <noscript>
        <div class="upper-notify">
            <p>Для корректной работы MathQuest необходим включенный javaScript</p>
        </div>
    </noscript>

    <div class="hero-info">
        <div class="hero-info-container">
            <div class="container">
                <p style="font-weight: 600;">source проекта</p>
                <a href="https://github.com/Aleksan0922/Hackaton_2024">github</a>

                <p style="font-weight: 600;">source проекта</p>
                <a href="https://github.com/Aleksan0922/Hackaton_2024">github</a>
            </div>
        </div>
    </div>
</body>