{% extends "base.html" %}

{% block content %}
<body>
    <noscript>
        <div class="upper-notify">
            <p>Для корректной работы MathQuest необходим включенный javaScript</p>
        </div>
    </noscript>

    <div class="hero-info">
        <div class="hero-info-container">
            <div class="container">
                <p style="font-weight: 600;">source проекта</p>
                <a href="https://github.com/Aleksan0922/Hackaton_2024">github</a>

                <p style="font-weight: 600;">source проекта</p>
                <a href="https://github.com/Aleksan0922/Hackaton_2024">github</a>
            </div>
        </div>
    </div>
{% endblock %}