{% extends "base.html" %}

{% block content %}
    <div class="hero-login">
        <div class="hero-login-container">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                    {{ form.email(type="text", class="input email", placeholder="Почта") }}<br>
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {{ form.password(type="password", class="password", placeholder="Пароль") }}<br>
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                <div class="buttons">
                    <p>{{ form.submit(type="submit", value="Войти") }}</p>
                    <a href="/signup">нет аккаунта?</a>
                </div>
                <div>{{ message }}</div>
            </form>
        </div>
    </div>
{% endblock %}