{% extends "base.html" %}

{% block content %}
    <div class="hero-login">
        <div class="hero-login-container">
            <div>
                <input type="text" class="input email" placeholder="Почта">
                <input type="password" placeholder="Пароль">
                <div class="buttons">
                    <input type="button" value="Войти">
                    <a href="#">нет аккаунта?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}