{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="hero-profile">
            <div class="hero-profile-container">
                <div class="inline">
                    <img src="static/images/{{ current_user.avatar }}">
                    <div class="panel">
                        <p id="username">{{ current_user.username }}</p>
                        <div>
                            <input onclick="document.location.href='/edit_account'" type="button" class="button" value="Изменить профиль">
                            <input onclick="document.location.href='/logout'" type="button" class="button active" value="Выйти">
                        </div>
                    </div>
                </div>
                <div id="achievements">
                    <p class="h">Статистика</p>
                    <p><span id="">{{ current_user.stat_lvl_1 }}</span> решено тестов 1 уровня подряд</p>
                    <p><span id="">{{ current_user.stat_lvl_2 }}</span> решено тестов 2 уровня подряд</p>
                    <p><span id="">{{ current_user.stat_lvl_3 }}</span> решено тестов 3 уровня подряд</p>
                    <div style="margin-bottom: 5px;"></div>
                    <p><span id="">{{ current_user.total_lvl_1 }}</span> решено тестов 1 уровня всего</p>
                    <p><span id="">{{ current_user.total_lvl_2 }}</span> решено тестов 2 уровня всего</p>
                    <p><span id="">{{ current_user.total_lvl_3 }}</span> решено тестов 3 уровня всего</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}