{% extends "base.html" %}

{% block content %}
    <div class="hero-test">
        <div class="hero-test-container">
            {% if answer == True %}
                <p>1</p>
            {% endif %}
            {% if answer == False %}
                <p>2</p>
            {% endif %}
            <div class="formula">
                <p>{{ question }}</p>
            </div>
            <div class="test-nav">
                <div style="max-width: 513px;width:100%;position: relative;display:flex;flex-direction:row;">
                    <form method="POST" id="quest-form">
                        <input id="test-input" name="test-input" type="text" placeholder="Ответ" autocomplete="off">
                        <input id="send-test" type="button" value="Отправить">
                        <input value="{{ question[4:] }}" type="hidden" name="quest-question">
                    </form>
                </div>
                <div class="panel">
                    <div class="num-panel">
                        <input onclick="addE(7)" type="button" value="7">
                        <input onclick="addE(8)" type="button" value="8">
                        <input onclick="addE(9)" type="button" value="9">
                        <input onclick="addE(4)" type="button" value="4">
                        <input onclick="addE(5)" type="button" value="5">
                        <input onclick="addE(6)" type="button" value="6">
                        <input onclick="addE(1)" type="button" value="1">
                        <input onclick="addE(2)" type="button" value="2">
                        <input onclick="addE(3)" type="button" value="3">
                    </div>
                    <div class="num-panel ex-panel">
                        <input type="button" onclick="addE(0)" value="0">
                        <input type="button" onclick="addE(',')" id="num-panel-point" value=",">
                        <input type="button" onclick="erase()" id="num-panel-erase" value="C">
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    document.getElementById('send-test').onclick = function(){
        document.getElementById('quest-form').submit();
    }
</script>
<script src="../../static/js/keyboard.js"></script>
{% endblock %}