<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">

    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-row">
                <nav class="header-nav">
                    <ul>
                        <li class="active"><a href="#">Главная</a></li>
                        <li><a href="#">ЧаВо</a></li>
                        <li><a href="#">О нас</a></li>
                    </ul>
                </nav>

                <nav class="header-nav">
                    <ul>
                        <li class="active logo"><a href="#">MathQuest</a></li>
                    </ul>
                </nav>

                <nav class="header-nav">
                    <ul>
                        <li class="active"><a href="#">Регистрация</a></li>
                        <li><a href="#">Вход</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="hero-login">
        <div class="hero-login-container">
            <div>
                <div class="inline">
                    <input type="text" class="input" placeholder="Имя">
                    <input type="text" class="input" placeholder="Фамилия">
                </div>
                <input type="email" class="input" placeholder="Почта">
                <input type="password" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;" placeholder="Пароль">
                <input type="password" style="border-top-left-radius: 15px; border-top-right-radius: 15px; margin-top: -5px;" placeholder="Повторите пароль">
                <div class="buttons">
                    <input type="button" value="Войти">
                    <a href="#">нет аккаунта?</a>
                </div>
            </div>
            <div class="info">
                <p>Пароль должен быть больше 5 символов.</p>
                <p>Разрешенные символы: a-Z, 0-9, _:!*</p>
            </div>
        </div>
    </div>
</body>
</html>